In [1]:
import pandas as pd
from datetime import datetime

In [2]:
raw_data_path = "data/Peter/"
output_data_path = "data/"

In [3]:
labels = ["_jump", "_lay", "_run", "_walk", "_sit"]
sensors = ["Accelerometer", "Gyroscope"]

for sensor in sensors:
    values = list()
    for label in labels:
        values.append(pd.read_csv(raw_data_path + f"{sensor}{label}.csv"))
    data = pd.concat(values, keys=labels)
    
    for label in labels:
        time = pd.read_csv(raw_data_path + f"time{label}.csv")
        data.loc[[label], "Time (s)"] = (data.loc[[label], "Time (s)"] + time["system time"][0]) * 1e+9
        
    data.to_csv(output_data_path + f"{sensor}_Peter.csv")

In [6]:
# def transform_time(dataframe, labels):
#     for i in range(len(labels) - 1):
#         dataframe.loc[labels[i+1]]["Time (s)"] = dataframe.loc[labels[i+1]]["Time (s)"] + dataframe.loc[(labels[i], len(dataframe.loc[labels[i]])-1)]["Time (s)"]

In [7]:
# for label in labels:
#     time = pd.read_csv(raw_data_path + f"time{label}.csv")
#     data.loc[[label], "Time (s)"] = (data.loc[[label], "Time (s)"] + time["system time"][0]) * 1e+9

In [8]:
col = ["label", "label_start", "label_start_datetime", "label_end", "label_end_datetime"]
df_labels = pd.DataFrame(columns = col)
df_labels["label"] = labels
df_labels

   label label_start label_start_datetime label_end label_end_datetime
0  _jump         NaN                  NaN       NaN                NaN
1   _lay         NaN                  NaN       NaN                NaN
2   _run         NaN                  NaN       NaN                NaN
3  _walk         NaN                  NaN       NaN                NaN
4   _sit         NaN                  NaN       NaN                NaN

In [9]:
for label in labels:
    index = df_labels.index[df_labels["label"] == label]
    df_labels.loc[index, "label_end"] = data.loc[(label, len(data.loc[label])-1)]["Time (s)"]
    df_labels.loc[index, "label_start"] = data.loc[(label, 0)]["Time (s)"]
    df_labels.loc[index, "label_start_datetime"] = datetime.fromtimestamp(df_labels.loc[index, "label_start"] * 1e-9)
    df_labels.loc[index, "label_end_datetime"] = datetime.fromtimestamp(df_labels.loc[index, "label_end"] * 1e-9)

<ipython-input-9-beddcd6c6435>:5: DeprecationWarning: an integer is required (got type Series).  Implicit conversion to integers using __int__ is deprecated, and may be removed in a future version of Python.
  df_labels.loc[index, "label_start_datetime"] = datetime.fromtimestamp(df_labels.loc[index, "label_start"] * 1e-9)
<ipython-input-9-beddcd6c6435>:6: DeprecationWarning: an integer is required (got type Series).  Implicit conversion to integers using __int__ is deprecated, and may be removed in a future version of Python.
  df_labels.loc[index, "label_end_datetime"] = datetime.fromtimestamp(df_labels.loc[index, "label_end"] * 1e-9)

In [10]:
df_labels

   label  label_start label_start_datetime    label_end   label_end_datetime
0  _jump  1.62392e+18  2021-06-17 09:30:37  1.62392e+18  2021-06-17 09:41:28
1   _lay  1.62392e+18  2021-06-17 12:02:15  1.62392e+18  2021-06-17 12:12:15
2   _run  1.62392e+18  2021-06-17 10:55:26  1.62392e+18  2021-06-17 11:05:26
3  _walk  1.62391e+18  2021-06-17 09:02:18  1.62391e+18  2021-06-17 09:07:58
4   _sit  1.62392e+18  2021-06-17 11:39:18  1.62392e+18  2021-06-17 11:49:18

In [15]:
df_labels.to_csv(output_data_path + "lavels.csv")

In [12]:
data.loc[("_sit", len(data.loc["_sit"])-1)]

Time (s)               1.623923e+18
Gyroscope x (rad/s)   -1.908320e-03
Gyroscope y (rad/s)   -2.440119e-03
Gyroscope z (rad/s)    6.100297e-04
Name: (_sit, 118610), dtype: float64

In [36]:
# transform_time(data, labels)

In [13]:
data

                  Time (s)  Gyroscope x (rad/s)  Gyroscope y (rad/s)  \
_jump 0       1.623915e+18            -0.580073             0.704529
      1       1.623915e+18            -0.589660             0.710388
      2       1.623915e+18            -0.613628             0.735422
      3       1.623915e+18            -0.635466             0.735955
      4       1.623915e+18            -0.665294             0.711454
...                    ...                  ...                  ...
_sit  118606  1.623923e+18            -0.002441             0.000223
      118607  1.623923e+18            -0.004039            -0.001907
      118608  1.623923e+18            -0.004039            -0.003505
      118609  1.623923e+18             0.000222            -0.003505
      118610  1.623923e+18            -0.001908            -0.002440

              Gyroscope z (rad/s)
_jump 0                 -0.625124
      1                 -0.644831
      2                 -0.670398
      3                 -0.675724
      4                 -0.654951
...                           ...
_sit  118606             0.001143
      118607             0.001143
      118608             0.000077
      118609            -0.002053
      118610             0.000610

[551729 rows x 4 columns]

In [14]:
data.loc["_sit"]["Time (s)"] + data.loc[("_jump", len(data.loc["_jump"])-1)]["Time (s)"]

0         3.247838e+18
1         3.247838e+18
2         3.247838e+18
3         3.247838e+18
4         3.247838e+18
              ...
118606    3.247839e+18
118607    3.247839e+18
118608    3.247839e+18
118609    3.247839e+18
118610    3.247839e+18
Name: Time (s), Length: 118611, dtype: float64