In [1]:
import pandas as pd

In [4]:
data_path = "data/"

In [6]:
test1 = pd.read_csv(data_path + "accelerometer01.csv")
test1

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2)
0,0.008790,-1.112316,4.897939,8.215741
1,0.010786,-1.102735,4.907521,8.201368
2,0.012783,-1.078780,4.907521,8.225323
3,0.014779,-1.064407,4.902730,8.220532
4,0.016776,-1.059616,4.921894,8.234905
...,...,...,...,...
300507,600.011479,0.516609,1.338258,8.287605
300508,600.013476,0.540564,1.343049,8.416962
300509,600.015473,0.497445,1.386167,8.517571
300510,600.017470,0.521400,1.424495,8.608600
300511,600.019466,0.502236,1.453241,8.723582

In [7]:
test2 = pd.read_csv(data_path + "accelerometer02.csv")
test2

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2)
0,0.023104,-0.815953,2.693421,0.490230
1,0.025508,-1.031606,2.801098,0.411266
2,0.027909,-1.225424,2.873182,0.308375
3,0.030312,-1.517349,3.000001,0.219841
4,0.032762,-1.639682,3.062215,0.217448
...,...,...,...,...
249690,600.017549,1.113560,5.643173,12.951451
249691,600.019952,1.319642,5.702994,12.927524
249692,600.022354,1.503889,5.755636,12.920345
249693,600.024757,1.657030,5.791528,12.934702
249694,600.027161,1.786242,5.827420,12.922738

In [8]:
test3 = pd.read_csv(data_path + "Accelerometer.csv")
test3

,Unnamed: 0,Unnamed: 1,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2)
0,_jump,0,1.623915e+18,0.530427,-5.017493,-2.972069
1,_jump,1,1.623915e+18,0.477726,-5.221108,-2.708566
2,_jump,2,1.623915e+18,0.386698,-5.314532,-2.322894
3,_jump,3,1.623915e+18,0.274111,-5.424724,-1.879730
4,_jump,4,1.623915e+18,0.207037,-5.515752,-1.398239
...,...,...,...,...,...,...
1103554,_sit,237232,1.623923e+18,-2.037526,-1.278151,-9.842301
1103555,_sit,237233,1.623923e+18,-1.963266,-1.266173,-9.789600
1103556,_sit,237234,1.623923e+18,-1.917752,-1.302106,-9.820742
1103557,_sit,237235,1.623923e+18,-1.965662,-1.311687,-9.847092
1103558,_sit,237236,1.623923e+18,-1.999199,-1.280546,-9.854278