In [1]:
import pandas as pd
import csv

In [2]:
timedf = pd.read_csv("data/raw/time.csv")
timedf

   event  experiment time   system time                   system time text
0  START         0.000000  1.622622e+09  2021-06-02 16:20:35.037 UTC+08:00
1  PAUSE       300.064326  1.622622e+09  2021-06-02 16:25:35.101 UTC+08:00

In [3]:
col = ["label", "label_start", "label_start_datetime", "label_end", "label_end_datetime"]
labeldf = pd.DataFrame(columns = col)
labeldf

Empty DataFrame
Columns: [label, label_start, label_start_datetime, label_end, label_end_datetime]
Index: []

In [4]:
labeldf["label"] = ["Standing", "Walking","Running"]
labeldf

      label label_start label_start_datetime label_end label_end_datetime
0  Standing         NaN                  NaN       NaN                NaN
1   Walking         NaN                  NaN       NaN                NaN
2   Running         NaN                  NaN       NaN                NaN

In [5]:
starttime = timedf["system time"][0]
endtime = timedf["system time"][1]
labeldf["label_start"] = [0, 0.5, 0.8]
labeldf["label_end"] = [0, 0.6, 1]
labeldf["label_start"] = (labeldf["label_start"] + starttime)*1e+9
labeldf["label_end"] = (labeldf["label_end"] + endtime)*1e+9
labeldf

,label,label_start,label_start_datetime,label_end,label_end_datetime
0,Standing,1.622622e+18,NaN,1.622622e+18,NaN
1,Walking,1.622622e+18,NaN,1.622622e+18,NaN
2,Running,1.622622e+18,NaN,1.622622e+18,NaN

In [6]:
start = ["2021-06-02 16:20:35", "2021-06-02 16:23:36",  "2021-06-02 16:24:56"]
end = ["2021-06-02 16:23:35","2021-06-02 16:24:55", "2021-06-02 16:25:35"]
labeldf["label_start_datetime"] = pd.to_datetime(start)
labeldf["label_end_datetime"] = pd.to_datetime(end)
labeldf

,label,label_start,label_start_datetime,label_end,label_end_datetime
0,Standing,1.622622e+18,2021-06-02 16:20:35,1.622622e+18,2021-06-02 16:23:35
1,Walking,1.622622e+18,2021-06-02 16:23:36,1.622622e+18,2021-06-02 16:24:55
2,Running,1.622622e+18,2021-06-02 16:24:56,1.622622e+18,2021-06-02 16:25:35

In [7]:
labeldf.to_csv("data/raw/Label.csv", index=False)