In [27]:
import pandas as pd
from datetime import datetime

In [28]:
raw_data_path = "data/raw_data/"
output_data_path = "data/raw_data/processed_data/"

In [29]:
labels = ["_bike", "_dance", "_desk", "_run", "_sit", "_walk_i", "_walk_o"]
sensors = ["Accelerometer", "Gyroscope", "Light", "Location", "Magnetometer"]

for sensor in sensors:
    values = list()
    for label in labels:
        values.append(pd.read_csv(raw_data_path + f"{sensor}{label}.csv"))
    data = pd.concat(values, keys=labels)
    
    for label in labels:
        time = pd.read_csv(raw_data_path + f"time{label}.csv")
        data.loc[[label], "Time (s)"] = (data.loc[[label], "Time (s)"] + time["system time"][0]) * 1e+9
        
    data.to_csv(output_data_path + f"{sensor}.csv")

In [30]:
# def transform_time(dataframe, labels):
#     for i in range(len(labels) - 1):
#         dataframe.loc[labels[i+1]]["Time (s)"] = dataframe.loc[labels[i+1]]["Time (s)"] + dataframe.loc[(labels[i], len(dataframe.loc[labels[i]])-1)]["Time (s)"]

In [31]:
# for label in labels:
#     time = pd.read_csv(raw_data_path + f"time{label}.csv")
#     data.loc[[label], "Time (s)"] = (data.loc[[label], "Time (s)"] + time["system time"][0]) * 1e+9

In [32]:
col = ["label", "label_start", "label_start_datetime", "label_end", "label_end_datetime"]
df_labels = pd.DataFrame(columns = col)
df_labels["label"] = labels
df_labels

     label label_start label_start_datetime label_end label_end_datetime
0    _bike         NaN                  NaN       NaN                NaN
1   _dance         NaN                  NaN       NaN                NaN
2    _desk         NaN                  NaN       NaN                NaN
3     _run         NaN                  NaN       NaN                NaN
4     _sit         NaN                  NaN       NaN                NaN
5  _walk_i         NaN                  NaN       NaN                NaN
6  _walk_o         NaN                  NaN       NaN                NaN

In [33]:
for label in labels:
    index = df_labels.index[df_labels["label"] == label]
    df_labels.loc[index, "label_end"] = data.loc[(label, len(data.loc[label])-1)]["Time (s)"]
    df_labels.loc[index, "label_start"] = data.loc[(label, 0)]["Time (s)"]
    df_labels.loc[index, "label_start_datetime"] = datetime.fromtimestamp(df_labels.loc[index, "label_start"] * 1e-9)
    df_labels.loc[index, "label_end_datetime"] = datetime.fromtimestamp(df_labels.loc[index, "label_end"] * 1e-9)

<ipython-input-33-beddcd6c6435>:5: DeprecationWarning: an integer is required (got type Series).  Implicit conversion to integers using __int__ is deprecated, and may be removed in a future version of Python.
  df_labels.loc[index, "label_start_datetime"] = datetime.fromtimestamp(df_labels.loc[index, "label_start"] * 1e-9)
<ipython-input-33-beddcd6c6435>:6: DeprecationWarning: an integer is required (got type Series).  Implicit conversion to integers using __int__ is deprecated, and may be removed in a future version of Python.
  df_labels.loc[index, "label_end_datetime"] = datetime.fromtimestamp(df_labels.loc[index, "label_end"] * 1e-9)

In [34]:
df_labels

     label  label_start label_start_datetime    label_end   label_end_datetime
0    _bike  1.62289e+18  2021-06-05 11:49:10  1.62289e+18  2021-06-05 11:54:10
1   _dance  1.62288e+18  2021-06-05 11:11:13  1.62288e+18  2021-06-05 11:16:13
2    _desk  1.62288e+18  2021-06-05 10:36:26  1.62288e+18  2021-06-05 10:41:26
3     _run  1.62288e+18  2021-06-05 11:21:43  1.62289e+18  2021-06-05 11:26:43
4     _sit  1.62288e+18  2021-06-05 10:44:08  1.62288e+18  2021-06-05 10:49:08
5  _walk_i  1.62288e+18  2021-06-05 10:58:55  1.62288e+18  2021-06-05 11:03:55
6  _walk_o  1.62289e+18  2021-06-05 11:36:30  1.62289e+18  2021-06-05 11:41:30

In [35]:
data.loc[("_bike", len(data.loc["_bike"])-1)]

Time (s)                 1.622887e+18
Magnetic field x (µT)    1.890658e+01
Magnetic field y (µT)    2.182514e+01
Magnetic field z (µT)    4.033929e+01
Name: (_bike, 30003), dtype: float64

In [36]:
# transform_time(data, labels)

In [37]:
data

                   Time (s)  Magnetic field x (µT)  Magnetic field y (µT)  \
_bike   0      1.622887e+18              -3.834285              -4.060692
        1      1.622887e+18              -5.683531              -3.611732
        2      1.622887e+18              -6.761418              -2.745949
        3      1.622887e+18              -6.452922              -1.594421
        4      1.622887e+18              -5.686158               0.186157
...                     ...                    ...                    ...
_walk_o 29996  1.622886e+18               3.856511              43.539921
        29997  1.622886e+18               5.548946              44.141338
        29998  1.622886e+18               4.014687              42.616104
        29999  1.622886e+18               3.555522              42.143715
        30000  1.622886e+18               4.173385              41.685349

               Magnetic field z (µT)
_bike   0                  47.347328
        1                  49.617599
        2                  49.425995
        3                  47.253632
        4                  47.252090
...                              ...
_walk_o 29996             -10.894501
        29997             -11.787949
        29998             -13.665619
        29999             -15.219223
        30000             -16.900955

[210023 rows x 4 columns]

In [38]:
data.loc["_dance"]["Time (s)"] + data.loc[("_bike", len(data.loc["_bike"])-1)]["Time (s)"]

0        3.245771e+18
1        3.245771e+18
2        3.245771e+18
3        3.245771e+18
4        3.245771e+18
             ...
29999    3.245771e+18
30000    3.245771e+18
30001    3.245771e+18
30002    3.245771e+18
30003    3.245771e+18
Name: Time (s), Length: 30004, dtype: float64